<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jidong.productselection.dao.JdProductMapper">
  <resultMap id="BaseResultMap" type="com.jidong.productselection.entity.JdProduct">
    <!--@mbg.generated-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="installation_Id" jdbcType="INTEGER" property="installationId" />
    <result column="shelf_Id" jdbcType="INTEGER" property="shelfId" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="main_cateId" jdbcType="INTEGER" property="mainCateid" />
    <result column="voltage_id" jdbcType="INTEGER" property="voltageId" />
    <result column="has_installation" jdbcType="BIT" property="hasInstallation" />
    <result column="has_shelfheight" jdbcType="BIT" property="hasShelfheight" />
    <result column="has_mountedheight" jdbcType="BIT" property="hasMountedheight" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, product_name, product_img, installation_Id, shelf_Id, segmentation, main_cateId, 
    voltage_id, has_installation, has_shelfheight, has_mountedheight
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from jd_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from jd_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jidong.productselection.entity.JdProduct">
    <!--@mbg.generated-->
    insert into jd_product (product_id, product_name, product_img, 
      installation_Id, shelf_Id, segmentation, 
      main_cateId, voltage_id, has_installation, 
      has_shelfheight, has_mountedheight)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productImg,jdbcType=VARCHAR}, 
      #{installationId,jdbcType=INTEGER}, #{shelfId,jdbcType=INTEGER}, #{segmentation,jdbcType=VARCHAR}, 
      #{mainCateid,jdbcType=INTEGER}, #{voltageId,jdbcType=INTEGER}, #{hasInstallation,jdbcType=BIT}, 
      #{hasShelfheight,jdbcType=BIT}, #{hasMountedheight,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jidong.productselection.entity.JdProduct">
    <!--@mbg.generated-->
    insert into jd_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productImg != null">
        product_img,
      </if>
      <if test="installationId != null">
        installation_Id,
      </if>
      <if test="shelfId != null">
        shelf_Id,
      </if>
      <if test="segmentation != null">
        segmentation,
      </if>
      <if test="mainCateid != null">
        main_cateId,
      </if>
      <if test="voltageId != null">
        voltage_id,
      </if>
      <if test="hasInstallation != null">
        has_installation,
      </if>
      <if test="hasShelfheight != null">
        has_shelfheight,
      </if>
      <if test="hasMountedheight != null">
        has_mountedheight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null">
        #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="installationId != null">
        #{installationId,jdbcType=INTEGER},
      </if>
      <if test="shelfId != null">
        #{shelfId,jdbcType=INTEGER},
      </if>
      <if test="segmentation != null">
        #{segmentation,jdbcType=VARCHAR},
      </if>
      <if test="mainCateid != null">
        #{mainCateid,jdbcType=INTEGER},
      </if>
      <if test="voltageId != null">
        #{voltageId,jdbcType=INTEGER},
      </if>
      <if test="hasInstallation != null">
        #{hasInstallation,jdbcType=BIT},
      </if>
      <if test="hasShelfheight != null">
        #{hasShelfheight,jdbcType=BIT},
      </if>
      <if test="hasMountedheight != null">
        #{hasMountedheight,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jidong.productselection.entity.JdProduct">
    <!--@mbg.generated-->
    update jd_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productImg != null">
        product_img = #{productImg,jdbcType=VARCHAR},
      </if>
      <if test="installationId != null">
        installation_Id = #{installationId,jdbcType=INTEGER},
      </if>
      <if test="shelfId != null">
        shelf_Id = #{shelfId,jdbcType=INTEGER},
      </if>
      <if test="segmentation != null">
        segmentation = #{segmentation,jdbcType=VARCHAR},
      </if>
      <if test="mainCateid != null">
        main_cateId = #{mainCateid,jdbcType=INTEGER},
      </if>
      <if test="voltageId != null">
        voltage_id = #{voltageId,jdbcType=INTEGER},
      </if>
      <if test="hasInstallation != null">
        has_installation = #{hasInstallation,jdbcType=BIT},
      </if>
      <if test="hasShelfheight != null">
        has_shelfheight = #{hasShelfheight,jdbcType=BIT},
      </if>
      <if test="hasMountedheight != null">
        has_mountedheight = #{hasMountedheight,jdbcType=BIT},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jidong.productselection.entity.JdProduct">
    <!--@mbg.generated-->
    update jd_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_img = #{productImg,jdbcType=VARCHAR},
      installation_Id = #{installationId,jdbcType=INTEGER},
      shelf_Id = #{shelfId,jdbcType=INTEGER},
      segmentation = #{segmentation,jdbcType=VARCHAR},
      main_cateId = #{mainCateid,jdbcType=INTEGER},
      voltage_id = #{voltageId,jdbcType=INTEGER},
      has_installation = #{hasInstallation,jdbcType=BIT},
      has_shelfheight = #{hasShelfheight,jdbcType=BIT},
      has_mountedheight = #{hasMountedheight,jdbcType=BIT}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from jd_product
    </select>

    <!--auto generated by codehelper on 2018-12-16-->
    <select id="findNextProductId" resultType="java.lang.Integer">
	  select isnull(max(product_id) + 1 ,1) as maxproductId
	  from jd_product
	 </select>
</mapper>